.login-pf body {
  background: #a7b8c1;
}

#kc-header-wrapper {
  /* hide the text content visually, but keep the element */
  color: transparent !important;
  font-size: 0 !important;
  text-indent: -9999px !important; /* Move text off-screen */

  background: url('../img/logo.png') no-repeat center center;

  /* set the size of the background image (adjust as needed) */
  background-size: contain; /* or 200px auto, depending on your logo size */

  /* ensure the wrapper has enough height to display the logo */
  /*height: 100px;*/
  /*width: 300px;*/

  /* center the element itself within its parent #kc-header */
  margin-left: auto;
  margin-right: auto;
}
